<div class="container ">

  <div class="padding-top">

    <div class="container marketing">

      <div class="row">
        <div class="col-lg-4">
          <img class="img-responsive bd-placeholder-img rounded-circle" width="140" height="140"
            src="../assets/images/sun.png">

          <h2>ClimaTempo</h2>
          <p>API para consultar previsão do tempo em diversas cidades.</p>
          <p><a class="btn btn-secondary" href="https://advisor.climatempo.com.br/">Ver mais &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-responsive bd-placeholder-img rounded-circle" width="140" height="140"
            src="../assets/images/deputado.png">

          <h2>Camâra dos Deputados</h2>
          <p>API para consultar dados de um parlamentar.</p>
          <p><a class="btn btn-secondary" href="https://dadosabertos.camara.leg.br/swagger/api.html">Ver mais &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-responsive bd-placeholder-img rounded-circle" width="140" height="140"
            src="../assets/images/dog.png">

          <h2>Dogs</h2>
          <p>API para consultar informações sobre cachorros.</p>
          <p><a class="btn btn-secondary" href="https://thedogapi.com/">Ver mais &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->

      <hr>

    </div><!-- /.container -->